table.blueTable {
  font-family: Verdana, Geneva, sans-serif;
  border: 0px solid #1F14A4;
  background-color: #D2EED2;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #848484;
  padding: 4px 4px;
}
table.blueTable tbody td {
  font-size: 11px;
}
table.blueTable tr:nth-child(even) {
  background: #AFE0C1;
}
table.blueTable tfoot td {
  font-size: 16px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}